<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
    <link href="../static/assets/favicon.ico" rel="icon">
    <title>Naman | Work</title>
    <link href="../static/main.3f6952e4.css" rel="stylesheet">
</head>

<body>
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<header>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="./index.html">01 : Home</a></li>
                    <li><a href="./works.html">02 : Works</a></li>
                    <li><a href="./about.html">03 : About me</a></li>
                    <li><a href="./contact.html">04 : Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
                <div class="text-center">
                    <h1 class="h2">02 : Works</h1>
                    <p>Explore a collection of my featured projects, showcasing hands-on experience with the MERN stack,
                        responsive design, and real-world problem solving.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide projects-carousel">
                    <div class="carousel-inner">

                        <!-- Slide 1 -->
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="https://techbazaar2025.vercel.app/" class="black-image-project-hover">
                                        <img src="../static/assets/images/E-Commerce.png" class="img-responsive">
                                    </a>
                                    <div class="card-container card-container-lg">
                                        <h4>001/012</h4>
                                        <h3>E-Commerce Website</h3>
                                        <p>Full-stack MERN app with auth, cart, and checkout features.</p>
                                        <a href="https://techbazaar2025.vercel.app/" class="btn btn-default">Visit</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <a href="https://naman-27072004.github.io/Donation-Form/" class="black-image-project-hover">
                                        <img src="../static/assets/images/Donation Form.png" class="img-responsive">
                                    </a>
                                    <div class="card-container card-container-lg">
                                        <h4>002/012</h4>
                                        <h3>Donation Form</h3>
                                        <p>Secure form for Gaushala donations with amount input and donor details.</p>
                                        <a href="https://naman-27072004.github.io/Donation-Form/" class="btn btn-default">Visit</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <a href="https://github.com/Naman-27072004/Gallery-uniquesteelkitchne.com.git" class="black-image-project-hover">
                                        <img src="../static/assets/images/Gallery.png" class="img-responsive">
                                    </a>
                                    <div class="card-container card-container-lg">
                                        <h4>003/012</h4>
                                        <h3>Gallery</h3>
                                        <p>Responsive gallery for modular kitchen vendors with high-quality visuals.</p>
                                        <a href="https://github.com/Naman-27072004/Gallery-uniquesteelkitchne.com.git" class="btn btn-default">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide 2 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="https://dazzleparticipantidmaker.streamlit.app/" class="black-image-project-hover">
                                        <img src="../static/assets/images/Student Id Maker.png" class="img-responsive">
                                    </a>
                                    <div class="card-container">
                                        <h4>004/012</h4>
                                        <h3>Student ID Maker</h3>
                                        <p>Tool to generate fest ID cards with name, photo, and event details.</p>
                                        <a href="https://dazzleparticipantidmaker.streamlit.app/" class="btn btn-default">Visit</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <a href="https://huggingface.co/spaces/Naman27/DrawDigitIndentifier" class="black-image-project-hover">
                                        <img src="../static/assets/images/DigitDraw Handwritten Digit Recognition.png"
                                             class="img-responsive">
                                    </a>
                                    <div class="card-container">
                                        <h4>005/012</h4>
                                        <h3>DigitDraw</h3>
                                        <p>Draw a digit and get real-time predictions using neural networks.</p>
                                        <a href="https://huggingface.co/spaces/Naman27/DrawDigitIndentifier" class="btn btn-default">Visit</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <a href="https://techbazaar.streamlit.app/" class="black-image-project-hover">
                                        <img src="../static/assets/images/Product Recommendation System.png"
                                             class="img-responsive">
                                    </a>
                                    <div class="card-container">
                                        <h4>006/012</h4>
                                        <h3>Product Recommender</h3>
                                        <p>Dropdown-based product suggestion system for e-commerce.</p>
                                        <a href="https://techbazaar.streamlit.app/" class="btn btn-default">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide 3 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="https://github.com/Naman-27072004/MRS--BACKEND-.git" class="black-image-project-hover">
                                        <img src="../static/assets/images/Movie Recommendation System.png"
                                             class="img-responsive">
                                    </a>
                                    <div class="card-container">
                                        <h4>007/012</h4>
                                        <h3>Movie Recommender</h3>
                                        <p>Dropdown-based movie suggestion system using cosine similarity.</p>
                                        <a href="https://github.com/Naman-27072004/MRS--BACKEND-.git" class="btn btn-default">Visit</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <a href="https://github.com/Naman-27072004/Sentiment-Analysis-Project.git" class="black-image-project-hover">
                                        <img src="../static/assets/images/Amazon Review Sentiment.png"
                                             class="img-responsive">
                                    </a>
                                    <div class="card-container">
                                        <h4>008/012</h4>
                                        <h3>Amazon Review Sentiment</h3>
                                        <p>Classified Amazon reviews using VADER and visualized rating-wise
                                            sentiments.</p>
                                        <a href="https://github.com/Naman-27072004/Sentiment-Analysis-Project.git" class="btn btn-default">Visit</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <a href="https://colab.research.google.com/drive/1Y9slQSnHT9jZ6jPE_NsfAf_C1W_FnX6F?usp=sharing" class="black-image-project-hover">
                                        <img src="../static/assets/images/Fraud Detection.png" class="img-responsive">
                                    </a>
                                    <div class="card-container">
                                        <h4>009/012</h4>
                                        <h3>Fraud Detection</h3>
                                        <p>Used ML to detect suspicious card transactions based on user patterns.</p>
                                        <a href="https://colab.research.google.com/drive/1Y9slQSnHT9jZ6jPE_NsfAf_C1W_FnX6F?usp=sharing" class="btn btn-default">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Slide 4 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="https://github.com/Naman-27072004/blog-web-application.git" class="black-image-project-hover">
                                        <img src="../static/assets/images/Blog Website.png" class="img-responsive">
                                    </a>
                                    <div class="card-container">
                                        <h4>010/012</h4>
                                        <h3>Blog Website</h3>
                                        <p>A responsive blog website where users can read, create, and manage posts with
                                            categories and timestamps.</p>
                                        <a href="https://github.com/Naman-27072004/blog-web-application.git" class="btn btn-default">Visit</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <a href="https://naman-27072004.github.io/Online-Resume/" class="black-image-project-hover">
                                        <img src="../static/assets/images/Online Resume.png" class="img-responsive">
                                    </a>
                                    <div class="card-container">
                                        <h4>011/012</h4>
                                        <h3>Online Resume</h3>
                                        <p>Responsive online portfolio built with HTML, CSS, and Bootstrap.</p>
                                        <a href="https://naman-27072004.github.io/Online-Resume/" class="btn btn-default">Visit</a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <a href="https://naman-27072004.github.io/Crypto-Analyzer-Tool/" class="black-image-project-hover">
                                        <img src="../static/assets/images/Crypto Analyzer Tool.png"
                                             class="img-responsive">
                                    </a>
                                    <div class="card-container">
                                        <h4>012/012</h4>
                                        <h3>Crypto Analyzer Tool</h3>
                                        <p>A tool to track and visualize real-time cryptocurrency prices, trends, and
                                            market data using APIs.</p>
                                        <a href="https://naman-27072004.github.io/Crypto-Analyzer-Tool/" class="btn btn-default">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-container text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>© Naman</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      navActivePage();
    });
</script>
<script type="text/javascript" src="../static/main.70a66962.js"></script>
</body>

</html>
